@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'Open Sans';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: '#E5E5E5';
  font-family: 'Open Sans';
  color: #141B2D;
}

html,
body {
  max-width: 100vw;
  position: relative;
}

.secondary-btn {
  padding: 13px 24px;
  background-color: transparent;
  font-weight: 600;
  color: #1C3988;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #1C3988;
  cursor: pointer;
}

.primary-btn {
  padding: 13px 24px;
  background-color: #1C3988;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
}

.text-primary {
  font-size: 50px;
  font-family: 'Merriweather';
  font-weight: 600;
}

.text-secondary {
  font-size: 20px;
}

.disabled {
  background-color: #9C2B2E;
  transition: all 0.3s ease-in-out;
}

.note {
  margin-left: 1rem;
  font-size: 13px;
}

/* pages */

.main-container {
  /* overflow-y: scroll; */
  scroll-snap-type: y mandatory;
  height: 100vh;
  scroll-behavior: smooth;
}

.inner-screen {
  padding: 1.5rem 3rem;
  height: 100vh;
}

.screen {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.offers-page {
  height: 100vh;
  background-color: #F3F3FA;
  margin-top: 6rem;
}


/* mobile */

@media (max-width: 900px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: '#E5E5E5';
    font-family: 'Open Sans';
    color: #141B2D;
  }

  .inner-screen {
    padding: 1.5rem 1rem;
  }

  .navbar-link {
    text-decoration: none;
    font-size: 16px;
    display: none;
  }

  .contact-btn {
    display: none;
  }

  .mobile-menu {
    display: block !important;
  }

  .menu-opened {
    background-color: #1C3988;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 19;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
    padding: 50px 50px;
    -webkit-animation: slideIn 0.5s forwards;
    -moz-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
    overflow: hidden !important;
  }

  .menu-opened-out {
    background-color: #1C3988;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 19;
    padding: 50px 50px;
    -webkit-animation: slideOut 0.5s forwards;
    -moz-animation: slideOut 0.5s forwards;
    animation: slideOut 0.5s forwards;
    overflow: hidden !important;
  }

  @-moz-keyframes slideOut {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-900px);
    }
  }

  @-webkit-keyframes slideOut {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-900px);
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-900px);
    }
  }


  @-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .menu-link {
    display: block !important;
    margin-top: 1rem;
    font-size: 35px;
    font-weight: 600;
    color: #F3F3FA;
    text-decoration: none;
    font-family: 'Merriweather';
    padding-bottom: 1rem;
  }

  .menu-links-container {
    margin-top: 5rem;
  }

  .header-main {
    padding: none !important;
    margin-top: 0 !important;
  }

  .navbar-container {
    /* padding: 0.3rem 1rem !important; */
    padding: 0 !important;
  }

  .header-image {
    display: none;
  }

  .header-description {
    max-width: 100% !important;
    margin-top: 1rem;
  }

  .header-description_text {
    margin-top: 0.5rem !important;
    font-size: 15px !important;
  }

  .header-description_heading {
    font-size: 35px !important;
    margin-top: 1rem !important;
  }

  .prediction-box {
    margin-top: 1rem !important;
    padding: 1.5rem 0.5rem !important;
  }

  .prediction-input_container {
    margin-top: 1rem !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .prediction-input_container--details {
    width: 100% !important;
  }

  .prediction-input {
    width: 100% !important;
    margin-bottom: 0.2rem;
    padding: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .prediction-result-text {
    font-size: 30px !important;
    margin-left: 1rem;
  }

  .prediction-input_container--details {
    width: 100%;
  }

  .prediction-input_container--result {
    width: 100% !important;
    height: 100% !important;
  }

  .prediction-result-box {
    flex: 1;
  }

  .predicted-price-heading {
    font-size: 15px !important;
    font-weight: 900;

  }

  .predicted-price {
    display: block;
    margin-top: 0.5rem !important;
    font-size: 25px !important;
    font-weight: 900;
  }

  .offer-header {
    display: block !important;
  }

  .text-primary {
    font-size: 35px;
  }

  .text-secondary {
    font-size: 15px;
  }

  .listing {
    height: 350px !important;
    margin-top: 2rem !important;
  }

  .listing-text {
    font-size: 12px;
  }

  .offer-text {
    margin-bottom: 1rem;
  }

  .secondary-btn {
    padding: 10px 21px;
    font-size: 12px;
  }

  .indication-symbol {
    padding: 0.5rem !important;
    margin-left: 0.5rem !important;
    border-radius: 50%;
  }

  .about-main {
    padding: 0 !important;
    display: flex;
    flex-direction: column !important;
  }

  .about-header {
    padding: 0 !important;
    display: block !important;
  }

  .about-text-container {
    margin-left: 0 !important;
    margin-top: 1rem;
  }

  .text-about {
    font-size: 15px !important;
  }

  .about-main-content {
    display: flex;
    flex-direction: column;
    justify-content: normal !important;
    align-items: normal !important;
    width: 100% !important;
  }

  .about-main-imgs {
    flex-direction: row !important;
    justify-content: center !important;

  }

  .review-container {
    width: 100% !important;
  }

  .review-text-mobile {
    font-size: 13px;
  }

  .about-main-details {
    font-size: 13px !important;
  }

  .about-main-text {
    display: block !important;
  }

  .footer {
    height: 100px !important;
  }

  .newsletter {
    height: 300px !important;
    padding: 2rem
  }

  .footer-section {
    margin-top: 6rem;
  }

  .newsletter-content {
    margin-left: 5rem;
  }

  .newsletter-heading {
    font-size: 20px !important;
  }

  .newsletter-text {
    font-size: 15px !important;
  }

  .newsletter-input {
    margin-bottom: 1rem !important;
  }
}

/* desktop */

.menu-link {
  display: none;
}

.mobile-menu {
  display: none;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-items {
  margin-left: 2rem;
}

.navbar-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 1rem;
}

.header-main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 3rem;
}

.header-description {
  max-width: 50%;
}

.header-description_heading {
  display: block;
  font-family: 'Merriweather';
  font-size: 60px;
  font-weight: 700;
  line-height: 3.5rem;
}

.header-description_text {
  font-size: 20px;
  max-width: 80%;
  margin-top: 1rem;
}

.header-image {
  height: 100%;
  overflow: hidden;
}

.header-img {
  object-fit: cover;
}

.prediction-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prediction-input_container--result {
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prediction-box {
  background-color: #F3F3FA;
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  border-radius: 5px;
}

.prediction-heading {
  font-family: 'Merriweather';
  margin-left: 1rem;
  font-size: 25px;
  font-weight: 600;
}

.prediction-room_box {
  display: flex;
  width: 80%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.prediction-input_container--details {
  width: 50%;
}

.prediction-input_container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.prediction-input {
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.prediction-btn-box {
  margin-top: 2rem;
  margin-left: 1rem;
}

.prediction-btn {
  border: none;
  cursor: pointer;
}

.prediction-result-box {
  flex: 1;
}

.predicted-price-heading {
  font-size: 25px;
  font-weight: 900;

}

.predicted-price {
  display: block;
  margin-top: 1rem;
  font-size: 40px;
  font-weight: 900;
}

.offer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-text {
  max-width: 560px;
  margin-top: 1rem;
}

.listing {
  background-color: #FFFFFF;
  width: 100%;
  height: 420px;
  border-radius: 5px;
  margin-top: 3rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.listing-img-container {
  height: 60%;
  overflow: hidden;
}

.listing-details {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.indicator-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
}

.indication-line {
  height: 2px;
  background-color: #DADAEE;
  width: 100%;
  position: relative;
}

.indication-symbol {
  padding: 1rem;
  background-color: #1C3988;
  margin-left: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OffersMain.css */

.indication-symbol.disabled {
  background-color: #DADAEE;
  cursor: not-allowed;
}

.indication-progress {
  width: 100px;
  background-color: #1C3988;
  height: 2px;
  position: absolute;
  border: 1px solid blue;
  top: 0;
  transition: all ease 0.3s;
}

.about-header {
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
}

.text-primary {
  display: block;
}

.about-text-container {
  margin-left: 5rem;
  margin-top: 1rem;
}

.text-about {
  font-size: 17px;
  margin-top: 24px;
}

.about-para-one {
  margin-bottom: 1rem;
}

.about-main {
  padding: 0 10rem;
  margin-top: 3rem;
}

.about-main-text {
  background-color: #F3F3FA;
  width: 96%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-main-heading {
  font-size: 25px;
  font-family: 'Merriweather';
}

.about-main-details {
  font-weight: bold;
  margin-top: 1rem;
}

.about-main-imgs {
  display: flex;
  flex-direction: column;
}

.about-main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-container {
  width: 50%;
}

.newsletter {
  height: 400px;
  background-color: #F3F3FA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-content {
  margin-left: 5rem;
}

.newsletter-heading {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Merriweather';
}

.newsletter-text {
  margin: 1rem 0;
}

.newsletter-input {
  padding: 13px 24px;
  margin-right: 1rem;
  border-radius: 5px;
  border: none;
}

.newsletter-input:focus {
  outline: none;
}

.footer {
  height: 190px;
  background-color: #1C3988;
  display: flex;
  justify-content: center;
  align-items: center;
}